.Topbar {
    background-color: #000000;
    padding: 24px 48px 10px;
    text-align: center;
  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .Topbar > img {
    width: 100px;
  }